on early-init && property:ro.carrier="docomo"
   setprop ro.mot.actioncore.enable false

on early-init && property:ro.carrier="kddi"
   setprop ro.mot.actioncore.enable false

on early-init && property:ro.carrier="rakuten"
   setprop ro.mot.actioncore.enable false

on early-init && property:ro.carrier="retjp"
   setprop ro.mot.actioncore.enable false

on early-init && property:ro.carrier="softbank"
   setprop ro.mot.actioncore.enable false

on early-init && property:ro.carrier="ymobile"
   setprop ro.mot.actioncore.enable false

on early-init
   setprop ro.mot.actioncore.enable true
